<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIRUS_Bot_Moderator.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProTanki_Robot_Moderator.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProTanki_Robot_Moderator.data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AIRUS_Bot_Moderator.Data>
            <setting name="AccessToken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Deactivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Posts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Words" serializeAs="String">
                <value />
            </setting>
            <setting name="SleepDefault" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ban" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BanPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteDays" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="Likes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LikesCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LikesOld" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WordsDefault" serializeAs="String">
                <value>{
"words":[
"акки",
"акка",
"продам",
"продажа",
"продаю акк",
"купить аккаунт",
"cTене",
"cTeHe",
"хуй",
"ебать",
"пиздец",
"пизда",
"сука",
"иди на х**",
"обсосок",
"ебучий",
"гандон",
"гондон",
"три бонус кода",
"продам акк",
"раздача бонус кодов",
"х*йня",
"б*я",
"стеночке могу подарить",
"раздача баттлефиелд",
"нужны бонус-коды",
"хорошие аккаунты",
"заходите ко мне",
"по выгодным ценам",
"никакого обмана",
"нашел продавца",
"продавец",
"заебись",
"заебали",
"картошкакаквсегда",
"программа которая дала",
"игра которая покорила",
"реально ли это?да",
"подробная информация на сайте",
"gbpplj,jkmcndj",
"лохотрон",
"пиздо",
"ARMORED",
"купил и без акции",
"Где купил",
"сделать приобретение",
"покупке акка",
"имею крутой акк",
"Всем советую",
"blogspot",
"Пиз*а",
"твари",
"бабской",
"бабы",
"РАЗДАЧА КОДОВ",
"СКИДКИ И ПОДАРКИ",
"ВСТУПАЙТЕ",
"Продаётся",
"Продается",
"лс не дорого",
"продажа аккаунтов",
"рукожопый",
"херня",
"worldoftanks.",
"Vanomas",
"батлфилд",
"BONUS KODI",
"NA STENE",
"Y MENY",
"f7 f7 f7",
"еба",
"тварь",
"пиздит",
"пиздеть",
"спизди",
"нахуя",
"Зайдите ко мне",
"ебё*",
"ебе*",
"ебет",
"ебёт",
"наёб",
"наеб",
"nvworld.ru",
"ёбывать",
"Отдаю просто",
"себя на стене",
"хуям",
"золото",
"на страничку",
"зарабатывать",
"Серб",
"Шторм",
"Кейсы",
"раздам",
"роздам",
"на стенке"
]
}</value>
            </setting>
        </AIRUS_Bot_Moderator.Data>
        <ProTanki_Robot_Moderator.Data>
            <setting name="AccessToken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Deactivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Posts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Words" serializeAs="String">
                <value />
            </setting>
            <setting name="SleepDefault" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ban" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BanPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteDays" serializeAs="String">
                <value>365</value>
            </setting>
        </ProTanki_Robot_Moderator.Data>
        <ProTanki_Robot_Moderator.data>
            <setting name="AccessToken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Posts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SleepDefault" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>10</value>
            </setting>
        </ProTanki_Robot_Moderator.data>
    </userSettings>
</configuration>
